/* Rules */
:root {
  --color-text-first: #212121;
  --color-text-second: #757575;
  --color-text-action: #2196f3;
  --color-text-third: rgba(255, 255, 255, 0.6);
  --background-color-first: #ffffff;
  --background-color-second: #2f303a;
  --background-color-third: #f5f4fa;
  --color-just-black: #000000;
}

body {
  color: var(--color-text-first);
  background-color: var(--background-color-first);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
}

.link:hover,
.link:focus {
  color: var(--color-text-action);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  outline: 2px solid red;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */
.site-nav {
  display: flex;
}

.site-nav .item + .item {
margin-left: 50px;
}

.site-nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
.first-part-hlogo {
  color: var(--color-text-action);
}
.second-part-hlogo {
  color: var(--color-just-black);
}
.nav-link {
  color: var(--color-text-first);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link {
  color: var(--color-text-second);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Hero */
.hero-section {
  background-color: var(--background-color-second);
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
}
.hero-title {
  color: var(--background-color-first);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}
.button-index {
  color: var(--background-color-first);
  background-color: var(--color-text-action);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 216px;
  border-color: var(--color-text-action);
}
.button-index:hover,
.button-index:focus {
  color: var(--color-text-first);
  background-color: var(--background-color-third);
}

/* Our advantages */
.advant-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.advant-text {
  color: var(--color-text-second);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Section-titles */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Our team */
.our-team-section {
  background-color: var(--background-color-third);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-text {
  color: var(--color-text-second);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: var(--background-color-second);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
address {
  font-style: normal;
}
.first-part-flogo {
  color: var(--color-text-action);
}
.second-part-flogo {
  color: var(--background-color-first);
}
.physical-address {
  color: var(--background-color-first);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.footer-address {
  color: var(--color-text-third);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Portfolio */
.button-portf {
  color: var(--color-text-first);
  background-color: var(--background-color-third);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 126px;
  border-radius: 4px;
  padding: 6px 25px;
  margin-bottom: 34px;

}
.button-portf:hover,
.button-portf:focus {
  color: var(--background-color-first);
  background-color: var(--color-text-action);
}
.gallery-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.gallery-text {
  color: var(--color-text-second);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}
